<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="">
      <%= link_to root_path, class: "navbar-brand d-flex flex-row m-0" do %>
        <%= image_tag "https://www.svgrepo.com/show/137303/yacht.svg", class: "p-0 mx-2" %>
        <h2 class="d-flex align-items-center m-0">Blue Horizon</h2>
      <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Yachts", yachts_path, class: "nav-link" %>
        </li>
        <li class="nav-item active d-sm-none">
          <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
        </li>
        <li class="nav-item active d-sm-none">
          <%= link_to "Add a Yacht", new_yacht_path, class: "nav-link" %>
        </li>
        <li class="nav-item active d-sm-none">
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item dropdown d-flex align-items-center">
          <button class="rounded-3 d-none d-sm-block" type="button" data-bs-toggle="dropdown" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="dropdown-menu dropdown-menu-end navbar-expand-sm" aria-labelledby="navbarDropdown">
              <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Add a Yacht", new_yacht_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
