<div class="container">
  <div class="row">
    <div class="col">
      <div class="p-5">
        <h1 class="grape-nuts-font">Welcome,</h1>
        <h1 class="grape-nuts-font"><%= current_user.name.capitalize %></h1>
      </div>
    </div>


    <div class="col">
      <div class="container dashboard-section-background px-4 rounded-5 d-flex flex-column justify-content-center">
        <div class="section-header-background text-center rounded-4 mt-4 mb-3">
          <h3 class="m-0 grape-nuts-font">Your Yachts</h3>
        </div>
        <div class="row">
          <% if current_user.yachts.length > 0 %>
            <% current_user.yachts.each do |yacht| %>
                <%= link_to yacht_path(yacht), class: "text-decoration-none text-black d-flex justify-content-center" do %>
                  <div class="card rounded-4 mb-4" >
                    <% if yacht.photo.attached? %>
                      <%= cl_image_tag(yacht.photo.key, class:"card-img-top rounded-top-4") %>
                    <% end %>
                      <div class="card-body d-flex flex-row justify-content-between align-items-center">
                          <h5 class="card-title mb-0"><%= yacht.name.capitalize %></h5>
                          <div>
                            <h6 class="mb-0">£<%= yacht.price %></h6>
                            <p class="mb-0">per day</p>
                          </div>
                      </div>
                  </div>
                <% end %>
            <% end %>
          <% else %>
            <p>You don't have any yachts yet</p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="container dashboard-section-background px-4 rounded-5 d-flex flex-column justify-content-center">
        <div class="section-header-background text-center rounded-4 mt-4 mb-3">
          <h3 class="m-0 grape-nuts-font">Your Bookings</h3>
        </div>
        <div class="row">
          <% if @user_bookings.length > 0 %>
            <% @user_bookings.each do |booking| %>
              <div class="d-flex flex-row justify-content-center">
                <div class="card mb-4 rounded-5">
                  <div class="card-body">
                    <div class="d-flex flex-row justify-content-between align-items-center">
                      <div class="img-name w-50">
                        <% if booking.yacht.photo.attached? %>
                          <%= cl_image_tag(booking.yacht.photo.key, class:"card-img-top rounded-4") %>
                        <% end %>
                        <h5 class="text-center pt-2">
                          <%= booking.yacht.name.capitalize %>
                        </h5>
                      </div>

                      <div class="dates-price text-center w-50">
                        <div class="dates">
                          <p class="mb-1">Dates:</p>
                          <i><%= booking.start_date.strftime("%b %e, %Y") %></i>
                          <br>
                          -
                          <br>
                          <i><%= booking.end_date.strftime("%b %e, %Y") %></i>
                        </div>
                        <p class="mb-0 mt-3">Total: £<%= booking.price %></p>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <p>You don't have any bookings yet</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
