<div class="new-yacht-form container d-flex flex-column justify-content-center align-items-center my-3">
  <h1 class="grape-nuts-font">Add a New Yacht</h1>

  <div class="border p-4">
  <%= simple_form_for @yacht do |f| %>
    <strong>
    <%= f.input :name, placeholder: 'Serenity'%>
    <%= f.input :model, placeholder: 'Dilbar' %>
    <%= f.input :size, placeholder: '12', label: 'Capacity' %>
    <%= f.input :price, placeholder: '£800' %>
    <%= f.input :description, placeholder: 'The Serenity Dilbar is a luxurious timepiece inspired by the Dilbar yacht, offering elegance and opulence with features like TV watching and spa-like amenities in a refined design.' %>
    <%= f.input :address, placeholder: 'Margate, United Kingdom' %>
    <%= f.input :photo, as: :file %>
    </strong>
    <div class="d-grid gap-2">
      <%= f.submit value: 'Add Yacht', class: 'btn btn-outline-dark rounded-3 text-light', id: "showpage-button"%>
    </div>
  <% end %>
  </div>
</div>
