<div class="container">
  <div class="card-category" style="background-image:
    url(<%= cl_image_path(@yacht.photo.key) %>),
    url(<%= cl_image_path(@yacht.photo.key) %>),
    url(<%= cl_image_path(@yacht.photo.key) %>);
    background-position: left top, 60%, right top;
    background-size: 45% 100%, 25% 100%, 30% 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    height: 400px;">
  </div>

  <div class="border-bottom">
    <h5>Hosted by</h5>
    <%= @yacht.user.name.titleize  %>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="grape-nuts-font text-center"><%= @yacht.name %></h1>
        <p><%= @yacht.description%></p>
      </div>

      <div  class="col">
        <h3 class="grape-nuts-font text-center text-align-center justify-content-center my-3">Key Information:</h3>
          <ul class="fa-ul" style="display:inline-block;vertical-align:middle;">
            <li><span class="fa-li"><i class="fa-solid fa-check"></i></span><i><%= @yacht.model%></i> model</li>
            <li><span class="fa-li"><i class="fa-solid fa-check"></i></span>For <strong><%= @yacht.size%></strong> people</li>
            <li><span class="fa-li"><i class="fa-solid fa-check"></i></span>Price: £<%= @yacht.price%> per day</li>
          </ul>
      </div>

      <div class="col">
        <div class="p-4 my-4 border rounded-4" id="showpage-booking-card">
          <h2 class="grape-nuts-font text-center">Book this Yacht</h2>
          <%= simple_form_for [@yacht, @booking] do |f| %>
            <div class="btn-group" role="group" aria-label="Basic example">
              <%= f.input :start_date, required: true, label: false, placeholder: 'Start Date',
                as: :string,
                input_html: { data: { controller: "datepicker" } } %>
              <%= f.input :end_date, required: true, label: false, placeholder: 'End Date',
                  as: :string,
                  input_html: { data: { controller: "datepicker" } } %>
            </div>
            <div class="d-grid gap-2">
            <%# if input.empty? %>
              <%= f.submit "Make a booking", class: "btn text-light rounded-4", id: "showpage-button"  %>
            <%# end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
